{% extends "base.html" %}
{% block title %}Eliminar{% endblock %}
{% block content %}
<div class="card border-danger">
  <div class="card-header bg-danger text-white">Eliminar producto</div>
  <div class="card-body">
    <p>¿Seguro que deseas eliminar
      <strong>#{{ producto.id_producto }} - {{ producto.nombre }}</strong>?
    </p>

    <form method="post" action="{{ url_for('eliminar_do', id_prod=producto.id_producto) }}">
      <button class="btn btn-danger" type="submit">Sí, eliminar</button>
      <a class="btn btn-secondary" href="{{ url_for('listar_productos') }}">Cancelar</a>
    </form>
  </div>
</div>
{% endblock %}
